<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
	
	<!-- XHO: user bellow to providing the transactional semantics functionality driven by the annotations in the service layer code -->
	<context:annotation-config />
	
	<context:component-scan base-package="org.ngo.web" />
 
 
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://192.168.0.10:3306/ngordb" />
		<property name="username" value="root" />
		<property name="password" value="qwer1234" />
	</bean>
  <!-- 
	 <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url"
			value="jdbc:oracle:thin:@192.168.0.10:1521:xe" />
		<property name="username" value="bob" />
		<property name="password" value="bob" />
	</bean>
-->		 
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		
		<!-- XHO: annotation mode via scan package -->
        <property name="packagesToScan">
            <list>
                <value>org.ngo.web.storage.entity</value>
            </list>
        </property>
        
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<!--<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>-->
				<prop key="hibernate.show_sql">false</prop>
				<!--DBs schema utility-->
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				 	 			
			</props>
		</property>

	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>